#!/usr/bin/env python

"""
This is the example configuration file.
Please copy it and rename it to 'config.py' and then complete it with your
Notion Token, your database IDs and adjust the settings if you want.
"""

# get your token: https://developers.notion.com/docs/getting-started
NOTION_TOKEN = ""


AGENDA = {
    # get the database template:
    # https://xaanaa.notion.site/Agenda-template-bc1b0b00787e44a18218cde30f71f524
    # get the database ID:
    # https://developers.notion.com/docs/getting-started#step-2-share-a-database-with-your-integration
    "DB_ID": "",
    # AGENDA_DB_ID: "",
    # Number of rolling days from today to retrieve future events. Default: 7 (one week)
    "NUMBER_OF_DAYS": 7,
    # Name of the database's column wich show the name of your events
    "NAME": "Nom",
    # Short for "days". E.g.: " d"
    "IN_DAYS": " j",
    # Short for "today". E.g.: "tdy" or "2da"
    "TODAY": "ajd",
    # Short for "tomorrow". E.g.: "tmr" or "tom"
    "TOMORROW": "dem",
}


# optional stuff
OPTIONAL = {
    # name of your custom font (to put in the root of the folder)
    # e.g.: "B612-Bold.ttf"
    "FONT": "",
    # Showing the current date on the screen
    "SHOW_DATE": True,
    # Flip the screen
    "FLIP": True,
    # In even or odd weeks, at a specific day, showing a custom text on a the screen
    # [0] for Monday, [1] for Tuesday, [2, 6] for Wednesday AND sunday, etc.
    # https://pythontic.com/datetime/date/weekday
    # egs.:
    # ["my custom text", 1, 2] : will display "my custom text" every Tuesday and Wednesday.
    # [["my custom text", 1, 2], ["my custom text 2", 4, 5]] : same as above plus
    # but will also display "my custom text 2" every Friday and Saturday.
    # [["odd", "odd week", 1, 2], ["even", "even week", 4, 5]] : will display
    # "odd week" each Tuesday and Wednesday of odd-numbered weeks and "even week"
    # each Friday and Saturday of evan-numbered weeks.
    "CUSTOM_TEXT": [
        ["", 1, 3],
        ["odd", "", 2, 4],
        ["even", "", 3, 5],
    ],
}


MEDS = {
    # get the database template:
    # https://xaanaa.notion.site/Inventaire-m-dical-template-4b72c6408bbd41878661705e2d9d5b37
    # get the database ID:
    # https://developers.notion.com/docs/getting-started#step-2-share-a-database-with-your-integration
    # fill "DB_ID" to activate the function
    "DB_ID": "",
    # MEDS_DB_ID: "",
    # Name of the database's column wich show the checkboxes indicates a refill is needed
    "REFILL": "Refill",
    # Name of the database's column wich show the name of your medicine stuff
    "NAME": "Nom",
    # Name of the database's column wich show the number of units to be restocked
    "NUMBER": "NbRefill",
    # You can customise the text displayed if an item needs to be restocked
    "CUSTOM_TEXT": "restock",
}


DEBUG = {
    # If True, saves the generated image instead of trying to display it on the InkyPhat
    "ENABLED": False,
    # Path to where you want to save the image
    "SAVE_PATH": "/tmp/test.png",
}
