#!/usr/bin/env python

"""
This is the example configuration file.
Please copy it and rename it to 'config.py' and then complete it with your
Notion Token, your database IDs and adjust the settings if you want.
"""

# get your token: https://developers.notion.com/docs/getting-started
NOTION_TOKEN = ""


AGENDA = {
    # get the database template:
    # https://xaanaa.notion.site/Agenda-template-bc1b0b00787e44a18218cde30f71f524
    # get the database ID:
    # https://developers.notion.com/docs/getting-started#step-2-share-a-database-with-your-integration
    "DB_ID": "",
    # AGENDA_DB_ID: "",
    # Number of rolling days from today to retrieve future events. Default: 7 (one week)
    "NUMBER_OF_DAYS": 7,
    # Name of the database's column wich show the name of your events
    "NAME": "Nom",
    # Short for "days". E.g.: " d"
    "IN_DAYS": " j",
    # Short for "today". E.g.: "tdy" or "2da"
    "TODAY": "ajd",
    # Short for "tomorrow". E.g.: "tmr" or "tom"
    "TOMORROW": "dem",
}


# optional stuff
OPTIONAL = {
    # name of your custom font (to put in the root of the folder)
    # e.g.: "B612-Bold.ttf"
    "FONT": "",
    # Showing the current date on the screen
    "SHOW_DATE": True,
    # Flip the screen
    "FLIP": True,
    # At a specific day, showing a custom text on a the screen
    # [0] for Monday, [1] for Tuesday, [2, 6] fow Wednesday AND sunday, etc.
    "DAY": [],
    "CUSTOM_TEXT": "",
}


MEDS = {
    # get the database template:
    # https://xaanaa.notion.site/Inventaire-m-dical-template-4b72c6408bbd41878661705e2d9d5b37
    # get the database ID:
    # https://developers.notion.com/docs/getting-started#step-2-share-a-database-with-your-integration
    # fill "DB_ID" to activate the function
    "DB_ID": "",
    # MEDS_DB_ID: "",
    # Name of the database's column wich show the checkboxes indicates a refill is needed
    "REFILL": "Refill",
    # Name of the database's column wich show the name of your medicine stuff
    "NAME": "Nom",
    # Name of the database's column wich show the number of units to be restocked
    "NUMBER": "NbRefill",
}
